<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <title>3D Test</title>
    <link rel="stylesheet" href="sport-results.css">
</head>

<body>
    <div class="cube-container">
        <div class="cube">
            <div class="front"><span>front</span></div>
            <div class="back"><span>back</span></div>
            <div class="left"><span>left</span></div>
            <div class="right"><span>right</span></div>
            <div class="top"><span>top</span></div>
            <div class="bottom"><span>bottom</span></div>
        </div>
    </div>

</body>

</html>